@using Microsoft.AspNetCore.Http
@{
    var nombre = Context.Session.GetString("Nombre");
    var apellido = Context.Session.GetString("Apellido");
    var rolNum = Context.Session.GetInt32("Rol");
    string rolTexto = rolNum switch
    {
        0 => "Alumno",
        1 => "Profesor",
        2 => "Administrador",
        _ => ""
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/globalStyle.css" />
    <link rel="stylesheet" href="_Layout.cshtml.css" />
    <link href="https://fonts.googleapis.com/css2?family=Charter:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/eduLinkLogo.svg" alt="EduLink Logo" class="logo" />
                    <span class="edulink-text">EduLink</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (nombre != null)
                        {
                            <li class="nav-item">
                                <span class="nav-link">Bienvenido @nombre @apellido (@rolTexto)</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Seccion" asp-action="Index">Secciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Logout">Cerrar Sesión</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Integrantes">Integrantes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - <strong>Proyecto Final Avance 1</strong> - Docente: <strong>Montoya Negrillo, Dany Jose</strong> - Curso: <strong>Desarrollo Basado en Plataformas</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
