@model DataBaseTry.Models.Alumno

<h2>Nuevo Alumno</h2>

<form asp-action="Crear" method="post">
    <div>
        <label asp-for="Dni"></label>
        <input asp-for="Dni"  type = "text"/>
        <span asp-validation-for="Dni"></span>
    </div>
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>
    <div>
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" />
        <span asp-validation-for="Apellido"></span>
    </div>
    <div>
        <label asp-for="FechaNacimiento"></label>
        <input asp-for="FechaNacimiento" type="date" />
        <span asp-validation-for="FechaNacimiento"></span>
    </div>
    <div>
        <label asp-for="Correo"></label>
        <input asp-for="Correo" type="email" />
        <span asp-validation-for="Correo"></span>
    </div>
    <div>
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" type = "text"/>
        <span asp-validation-for="Direccion"></span>
    </div>
    <div>
        <label asp-for="NumeroContacto"></label>
        <input asp-for="NumeroContacto"  type = "text"/>
        <span asp-validation-for="NumeroContacto"></span>
    </div>
    <button type="submit">Guardar</button>
</form>

<a asp-action="Index">Volver a la lista</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
