@{
    ViewData["Title"] = "Integrantes";
}

<div class="text-center">
    <h1 class="display-4">Integrantes - Grupo 8</h1>

    <ul class="integrantes" style="list-style-position: inside; padding-left: 0;">
        <li>Garcia Veliz, Alejandra</li>
        <li>Natividad Rodriguez, Jose Anthony</li>
        <li>Ordoñez Ramos, Francheska Hittomy</li>
        <li>Rivadeneira Rodriguez, Sebastian Andree</li>
    </ul>
</div>

<style>
    ul.integrantes {
        list-style-position: inside;
        padding-left: 0;
        text-align: left;
    }

        ul.integrantes li {
            margin: 5px 0;
            font-size: 18px;
        }
</style>